<% layout("/layouts/boilerplate.ejs") %>

<body>
  <div class="card-container ">
  <% for(let data of datas){ %>
    <a href="/listing/<%= data.id %>">
  <div class="card" style="width: 18rem " >
    <img src="<%= data.image.url %>" class="card-img-top" alt="..." />
    <div class="card-img-overlay"></div>
    <div class="card-body">
      <p class="card-text" >
        <p>Title: <strong><%= data.title %></strong></p>
        <p>Location: <strong><%= data.location %></strong></p>
        <p style="color: rgb(0, 0, 0);" >Discription: <%= data.description %></p>
        
      </p>
    </div>
  </div>
  </a>
  <% } %>

</div>
   
</body>
